<div id="clearance" class="sign-up">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <h2>Sign Up!</h2>
      <%= form_for @user,html:{class:"form-horizontal"} do |form| %>
        <%= render partial: 'users/form', object: form %>

        
      <% end %>
    </div>
  </div>
</div>
