/*
 *= require bootstrap-datepicker
*/
@import "bootstrap";
@import "airbnbs";
@import "admins";
@import "images";
@import "listings";
.cropped{
  height:300px;
  overflow:hidden;
}
.stretch-full-screen{
  width:100vw;
}
.stretch-full-width{
  width:100%;
}
.padding-top{
  padding-top:20px;
}
.rounded-corner{
  border-radius:5px;
}
.padding-bottom{
  padding-bottom:30px;
}
.bolded{
	font-weight:bold;
	font-size:1.7em;
}
