.card-text{
	margin-bottom:0;
}
@import "bootstrap";
.img-sm{
	width:100px;
	height:80px;
}
.img-md{
	width:250px;
	height:200px;
}
.pre-header-text{
	font-size:0.8em;
	font-weight:100;
}
.header-text{
	font-weight:bold;
	letter-spacing:0.5px;
}
.price-text{
	font-size:0.8em;
	font-weight:200;
}