@import "bootstrap";
.img-sm{
  width:100px;
  height:80px;
}
.card-text{
  margin-bottom:0;
}
.img-profile{
  width:250px;
  height:200px;
}
.card{
  border:0;
}
.card-body{
  padding-top:5px;
  padding-left:0;
}
.img-md{
  width:100%;
  height:160px;
}
.img-lg{
  height:500px;
}
.stretch-full-screen{
  width:100vw;
}
.stretch-full-width{
  width:100%;
}
.padding-top{
  padding-top:20px;
}
.rounded-corner{
  border-radius:5px;
}
.pre-header-text{
  font-size:0.8em;
  font-weight:100;
}
.header-text{
  font-weight:bold;
  letter-spacing:0.5px;
}
.price-text{
  font-size:0.8em;
  font-weight:200;
}
.pagination{
	justify-content:center;
}
.apple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default; }

 .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
 .apple_pagination .disabled {
    color: #aaaaaa; }
 .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
 .apple_pagination a {
    text-decoration: none;
    color: black; }
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline; }
.center-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 400px;
  width: 100%;
}
.cropped{
  height:300px;
  overflow:hidden;
}
.padding-bottom{
  padding-bottom:30px;
}
table { 
    table-layout:fixed;
}
td { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}